/.idea/

implementation/FSharp/.idea/
implementation/FSharp/bin/
implementation/FSharp/obj/
implementation/FSharp/nuget.config

implementation/CSharp/.idea/
implementation/CSharp/bin/
implementation/CSharp/obj/
implementation/CSharp/nuget.config

implementation/Scala/.idea/
implementation/Scala/node_modules/
implementation/Scala/project/project/
implementation/Scala/project/target/
implementation/Scala/Scala.iml
implementation/Scala/target/

implementation/ScalaJS/.idea/
implementation/ScalaJS/node_modules/
implementation/ScalaJS/project/project/
implementation/ScalaJS/project/target/
implementation/ScalaJS/Scala.iml
implementation/ScalaJS/target/

implementation/JavaScript/synapses-opt.js
implementation/JavaScript/README.md

/test-projects/ScalaTest/.idea/
/test-projects/ScalaTest/project/project/
/test-projects/ScalaTest/project/target/
/test-projects/ScalaTest/target/

/test-projects/JavaTest/.idea/
/test-projects/JavaTest/project/project/
/test-projects/JavaTest/project/target/
/test-projects/JavaTest/target/
/test-projects/JavaTest/JavaTest.iml

/test-projects/FSharpTest/.idea/
/test-projects/FSharpTest/bin/
/test-projects/FSharpTest/obj/

/test-projects/CSharpTest/.idea/
/test-projects/CSharpTest/bin/
/test-projects/CSharpTest/obj/

/test-projects/JavaScriptTest/.idea/
/test-projects/JavaScriptTest/node_modules/

*.gem
*.rbc
documentation/.bundle
documentation/.config
documentation/coverage
documentation/InstalledFiles
documentation/lib/bundler/man
documentation/pkg
documentation/rdoc
documentation/spec/reports
documentation/test/tmp
documentation/test/version_tmp
documentation/tmp
*.DS_STORE
documentation/build/
documentation/.cache
documentation/.vagrant
documentation/.sass-cache
# YARD artifacts
documentation/.yardoc
documentation/_yardoc
documentation/doc/
documentation/.idea/
