/.idea/

# implementation

implementation/DotNet/.idea/

implementation/DotNet/Synapses/bin/
implementation/DotNet/Synapses/obj/
implementation/DotNet/Synapses/README.md

implementation/DotNet/SynapsesCSharp/bin/
implementation/DotNet/SynapsesCSharp/obj/
implementation/DotNet/SynapsesCSharp/README.md

implementation/Scala/.idea/
implementation/Scala/node_modules/
implementation/Scala/project/project/
implementation/Scala/project/target/
implementation/Scala/Scala.iml
implementation/Scala/target/
implementation/Scala/README.md

implementation/ScalaJS/.idea/
implementation/ScalaJS/node_modules/
implementation/ScalaJS/project/project/
implementation/ScalaJS/project/target/
implementation/ScalaJS/Scala.iml
implementation/ScalaJS/target/
implementation/ScalaJS/README.md

implementation/JavaScript/synapses-opt.js
implementation/JavaScript/README.md

implementation/Python/.idea
implementation/Python/venv
implementation/Python/build
implementation/Python/dist
implementation/Python/SynapsesPy.egg-info
implementation/Python/README.md

# remote deps tests

/test-projects/remote-deps/ScalaTest/.idea/
/test-projects/remote-deps/ScalaTest/project/project/
/test-projects/remote-deps/ScalaTest/project/target/
/test-projects/remote-deps/ScalaTest/target/

/test-projects/remote-deps/JavaTest/.idea/
/test-projects/remote-deps/JavaTest/project/project/
/test-projects/remote-deps/JavaTest/project/target/
/test-projects/remote-deps/JavaTest/target/
/test-projects/remote-deps/JavaTest/JavaTest.iml

/test-projects/remote-deps/FSharpTest/.idea/
/test-projects/remote-deps/FSharpTest/bin/
/test-projects/remote-deps/FSharpTest/obj/

/test-projects/remote-deps/CSharpTest/.idea/
/test-projects/remote-deps/CSharpTest/bin/
/test-projects/remote-deps/CSharpTest/obj/

/test-projects/remote-deps/JavaScriptTest/.idea/
/test-projects/remote-deps/JavaScriptTest/node_modules/

/test-projects/remote-deps/PythonTest/.idea/
/test-projects/remote-deps/PythonTest/dist/
/test-projects/remote-deps/PythonTest/venv/

# local source tests

/test-projects/local-sources/ScalaTest/.idea/
/test-projects/local-sources/ScalaTest/project/project/
/test-projects/local-sources/ScalaTest/project/target/
/test-projects/local-sources/ScalaTest/target/

/test-projects/local-sources/JavaTest/.idea/
/test-projects/local-sources/JavaTest/project/project/
/test-projects/local-sources/JavaTest/project/target/
/test-projects/local-sources/JavaTest/target/
/test-projects/local-sources/JavaTest/JavaTest.iml

/test-projects/local-sources/FSharpTest/.idea/
/test-projects/local-sources/FSharpTest/bin/
/test-projects/local-sources/FSharpTest/obj/

/test-projects/local-sources/CSharpTest/.idea/
/test-projects/local-sources/CSharpTest/bin/
/test-projects/local-sources/CSharpTest/obj/

/test-projects/local-sources/JavaScriptTest/.idea/
/test-projects/local-sources/JavaScriptTest/node_modules/

/test-projects/local-sources/PythonTest/.idea/
/test-projects/local-sources/PythonTest/dist/
/test-projects/local-sources/PythonTest/venv/

# slate

*.gem
*.rbc
documentation/.bundle
documentation/.config
documentation/coverage
documentation/InstalledFiles
documentation/lib/bundler/man
documentation/pkg
documentation/rdoc
documentation/spec/reports
documentation/test/tmp
documentation/test/version_tmp
documentation/tmp
*.DS_STORE
documentation/build/
documentation/.cache
documentation/.vagrant
documentation/.sass-cache
# YARD artifacts
documentation/.yardoc
documentation/_yardoc
documentation/doc/
documentation/.idea/
