/.idea/
/F#/.idea/
/F#/bin/
/F#/obj/
/F#/nuget.config
/Scala/.idea/
/Scala/node_modules/
/Scala/project/project/
/Scala/project/target/
/Scala/Scala.iml
/test-projects/ScalaTest/.idea/
/test-projects/ScalaTest/project/project/
/test-projects/ScalaTest/project/target/
/test-projects/ScalaTest/target/
/test-projects/F#Test/.idea/
/test-projects/F#Test/bin/
/test-projects/F#Test/obj/
/test-projects/JavaScriptTest/.idea/
/test-projects/JavaScriptTest/node_modules/
/Scala/target/streams/
/Scala/target/.history
/Scala/target/scala-2.13/classes/
/Scala/target/scala-2.13/resolution-cache/
/Scala/target/scala-2.13/synapses-*
